{% extends 'base.html' %}

{% block content %}

<!--Labels -->
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-4">
      <p class="ms-md-3"><strong>Ingredient</strong></p>
    </div>
    <p class="col-5 col-md-5"><strong>Unit weight</strong></p>
    <div class="col-3 col-md-3 ps-md-4">
      <p><strong>Units left</strong></p>
    </div>
  </div>

  {% for ingredient in ingredient_list %}
  
  <!--Filter ingredient by weight_value -->
  {% if ingredient.weight_value > 10000 %}
  <div class="row border pt-2 bg-info">
    {% elif ingredient.weight_value > 5000 %}
    <div class="row border pt-2 bg-success">
      {% elif ingredient.weight_value > 0 %}
      <div class="row border pt-2 bg-warning">
        {% elif ingredient.weight_value == 0 %}
        <div class="row border pt-2 bg-danger">
          {% endif %}
          <div class="col-4">
            <p class="ms-3">{{ ingredient.name }}</p>
          </div>
          <div class="col-4 col-md-6"">
          {% if ingredient.type == 1 %}
          <p>{{ ingredient.weight_value}}mL</p>
          {% else %}
          <p>{{ ingredient.weight_value}}g</p>
          {% endif %}
        </div>

          <!--Buttons for adding and removing -->
          <div class=" col-4 col-md-3 text-start">
            <div class="row">
              <div class="col-2 text-end">
                <form action="{% url 'remove_ingredient' ingredient.pk %}" method="POST">
                  {% csrf_token %}
                  {% if ingredient.units == 0 %}
                  <button type="submit" value="{{ingredient.pk}}" class="bg-danger rounded-circle border"
                    disabled>-</button>
                  {% else %}
                  <button type="submit" value="{{ingredient.pk}}" class="bg-danger rounded-circle border">-</button>
                  {% endif %}
                </form>
              </div>
              <p class="col-2 text-center">{{ ingredient.units }}</p>
              <div class="col-2 text-start">
                <form action="{% url 'add_ingredient' ingredient.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" value="{{ingredient.pk}}" class="me-3 bg-success rounded-circle">+</button>
                </form>
              </div>

              <!--Editing and deleting ingredients -->
              <a class="col-1 ps-3" href="{% url 'edit_ingredient' ingredient.pk %}"><i
                  class="fa-regular fa-pen-to-square text-dark h4"></i></a>
            </div>
            <div class="text-center mb-1">
              <form class="" action="{% url 'delete_ingredient' ingredient.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" value="{{ingredient.pk}}" class="ms-4 bg-danger">Delete</i></button>
              </form>
            </div>

          </div>
        </div>

        {% endfor %}

        <div class="text-center">
          <a href="{% url 'new_ingredient' %}" class="mt-3 bg-success text-dark p-1 btn">Add Ingredient</a>
        </div>

        <!--Pagination -->
        <ul class="pagination justify-content-center mt-5">
          {% if page_obj.has_previous %}
          <li class="page-item m-1">
            <a href="?page=1" class="page-link directory-pag-a">&laquo; First</a>
          </li>
          <li class="page-item m-1">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link directory-pag-a">Previous</a>
          </li>
          {% else %}
          <li class="page-item m-1">
            <a href="#" class="page-link directory-pag-a">&laquo; First</a>
          </li>
          <li class="page-item m-1">
            <a href="#" class="page-link directory-pag-a">Previous</a>
          </li>

          {% endif %}

          {% for page in page_obj.paginator.page_range %}
          <li class="page-item m-1"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% endfor %}

          {% if page_obj.has_next %}
          <li class="page-item m-1">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
          </li>
          <li class="page-item m-1">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
          </li>

          {% else %}
          <li class="page-item m-1">
            <a href="#" class="page-link">Next</a>
          </li>
          <li class="page-item m-1">
            <a href="#" class="page-link">Last &raquo;</a>
          </li>

          {% endif %}
        </ul>

      </div>

      {% endblock %}