{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<div class="container mt-3">
    <div class="text-center mb-3 justify-contents-center">
        <h1>Add an Ingredient</h1>
        <h6>IMPORTANT: Please make sure names of all entered ingredients are in title case</h6>
        <div class="col-8 mx-auto col-md-3 col-xl-2">
            <form action="{% url 'new_ingredient' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <button type="submit">Add Ingredient</button>
            </form>
        </div>
    </div>
</div>

{% else %}

<div class="col-8 col-xl-6 mx-auto">
    <div class="text-center bg-warning pb-3">
        <h1 class="mt-3">Welcome to the Casa del Gelat stock controller</h1>
        <h4 class="mt-3">Please sign in</h4>
        <a href="{% url 'account_login' %}" class="btn bg-success">Log In</a>
    </div>
</div>

{% endif %}

{% endblock %}