{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <h2 class="mt-3">Add a Recipe</h2>
    <hr>
    <div class="row">
        <div class="col-md-5 mb-3">
            <div class="row">
                <h3>Step 1:</h3>
                <h5 class="my-3 mt-md-0">Add all the ingredients the recipe will contain with its quantities (g)</h5>
            </div>
            <form class="border p-2" action="{% url 'new_recipe' %}" method="POST">
                {% csrf_token %}
                {{ IngredientQuantityForm.as_p }}
                <hr>
                <button type="submit">Add Ingredient Quantity</button>
            </form>
        </div>
        <div class="col-md-5">
            <div class="row">
                <h3>Step 2:</h3>
                <h5 class="mb-3">Add the name, the ingredients you previously entered and additional notes for the
                    recipe</h5>
            </div>
            <form class="border p-2" action="{% url 'new_recipe' %}" method="POST">
                {% csrf_token %}
                {{ RecipeForm.as_p }}
                <hr>
                <button type="submit">Add Recipe</button>
            </form>
        </div>
    </div>
</div>
</div>

{% else %}

<div class="col-8 col-xl-6 mx-auto">
    <div class="text-center bg-warning pb-3">
        <h1 class="mt-3">Welcome to the Casa del Gelat stock controller</h1>
        <h4 class="mt-3">Please sign in</h4>
        <a href="{% url 'account_login' %}" class="btn bg-success">Log In</a>
    </div>
</div>

{% endif %}

{% endblock %}