{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated and user.worker_type != 'scooper'  %}

<!--Searchbar-->
<div class="col-6 col-md-4 col-xl-2 mt-1 ms-1">
    <form class="d-flex" role="search" action="{% url 'recipe_search_results' %}" method="GET">
        <input class="form-control me-2 col-10" type="search" placeholder="Search Recipe" aria-label="Search"
            name="search"/>
        <button class="btn btn-outline-success vibrant-green" type="submit">
            Search
        </button>
    </form>
</div>

<!-- Recipes List -->
<div class="container">
    <h2 class="my-3 ms-3">Recipes:</h2>

    <div class="container">
        <div class="row d-flex justify-content-around mb-3">
            {% for recipe in recipe_list %}
            {% if recipe.tubs == 0 %}
            <div class="bg-danger bg-gradient mb-5 mb-md-0 row col-md-3 col-xl-2 text-center border">
                {% else %}
                <div class="bg-light mb-5 mb-md-0 row col-md-3 col-xl-2 text-center border">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'recipe_detail' recipe.pk %}" class="h5 card-title text-decoration-none">
                            {{recipe.recipe_name }}</a>
                        <br/>
                        <hr/>
                        <div class="mt-2 d-flex justify-content-around">
                            <div class="col-4 text-center">
                                <form action="{% url 'remove_recipe' recipe.pk %}" method="POST">
                                    {% csrf_token %}
                                    {% if recipe.tubs == 0 %}
                                    <button type="submit" value="{{recipe.pk}}" class="bg-danger rounded-circle border"
                                        disabled>-</button>
                                    {% else %}
                                    <button type="submit" value="{{recipe.pk}}"
                                        class="bg-danger rounded-circle border">-</button>
                                    {% endif %}
                                </form>
                            </div>
                            <p class="col-4 text-center">{{ recipe.tubs }}</p>
                            <form class="col-4 text-center" action="{% url 'add_recipe' recipe.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" value="{{recipe.pk}}" class="bg-success rounded-circle">+</button>
                            </form>
                        </div>

                        {% if user.worker_type == 'stock-controller' or user.is_staff %}
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <button type="button" class="col-3 col-md-8" data-bs-toggle="modal"
                                    data-bs-target="#deletes_recipe-{{recipe.pk}}">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>

                            <!-- Recipe deleting modal -->
                            <div class="modal" tabindex="-1" role="dialog" id="deletes_recipe-{{ recipe.pk }}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title">Delete recipe</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete {{recipe.recipe_name}} recipe?</p>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <form action="{% url 'delete_recipe' recipe.pk %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" value="{{recipe.pk}}"
                                                    class="btn btn-primary border-none">
                                                    DELETE
                                                </button>
                                            </form>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">BACK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endif %}

                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row d-flex justify-content-around mb-3">
                {% endif %}
                {% endfor %}
            </div>

            <!-- Pagination -->
            {% if page_obj.has_previous or page_obj.has_next %}
            {% include "pagination.html" %}
            {% endif %}
        </div>

        <!-- New Recipe Button -->
        {% if user.worker_type == 'stock-controller' or user.is_staff %}
        <div class="text-center mt-2">
            <a href="{% url 'new_recipe' %}" class="mb-3 bg-success text-dark p-1 btn">Add Recipe</a>
        </div>
        {% endif %}
    </div>
</div>

{% else %}

{% include "unauthorised.html" %}

{% endif %}

{% endblock %}