{% extends 'base.html' %}

{% block content %}

<!-- Recipes List -->
<div class="container">
    <h2 class="mt-3 ms-3">Recipes</h2>
    <div class="ps-md-4 row d-flex justify-content-around">
        {% for recipe in recipe_list %}
        <div>
        <a href="{% url 'recipe_detail' recipe.pk %}"
            class="recipe-anchor col-3 col-xl-2 bg-success mx-1 mb-4 rounded d-flex align-items-center justify-content-center text-decoration-none flex-column">
            <p id="recipe-name" class="text-dark h6 md-h3 text-center">{{ recipe.recipe_name }}</p>
        </a>
        <div class="row">
            <a class="col-2" href="{% url 'edit_recipe' recipe.pk %}">
                <i class="fa-regular fa-pen-to-square text-dark h4"></i></a>
            <form class="w-25" action="{% url 'delete_recipe' recipe.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" value="{{recipe.pk}}"><i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>

</div>

{% if user.worker_type == 'stock-controller' or user.is_staff %}

<!-- New Recipe Button -->
<div class="text-center">
    <a href="{% url 'new_recipe' %}" class="mt-3 bg-success text-dark p-1 btn">Add Recipe</a>
</div>
{% endif %}

<!-- Pagination -->
<ul class="pagination justify-content-center mb-5">
    {% if page_obj.has_previous %}
    <li class="page-item m-1">
        <a href="?page=1" class="page-link directory-pag-a">&laquo; First</a>
    </li>
    <li class="page-item m-1">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link directory-pag-a">Previous</a>
    </li>
    {% else %}
    <li class="page-item m-1">
        <a href="#" class="page-link directory-pag-a">&laquo; First</a>
    </li>
    <li class="page-item m-1">
        <a href="#" class="page-link directory-pag-a">Previous</a>
    </li>

    {% endif %}

    {% for page in page_obj.paginator.page_range %}
    <li class="page-item m-1"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item m-1">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
    </li>
    <li class="page-item m-1">
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a>
    </li>

    {% else %}
    <li class="page-item m-1">
        <a href="#" class="page-link">Next</a>
    </li>
    <li class="page-item m-1">
        <a href="#" class="page-link">Last &raquo;</a>
    </li>

    {% endif %}
</ul>


{% endblock %}