{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated and user.worker_type != 'scooper'  %}

<div class="container-fluid">
    <div class="container">
        <div class="row d-flex justify-content-around mb-3">
            {% for recipe in recipe_list %}
            <div class="bg-light mb-5 mb-md-0 row col-md-3 col-xl-2 text-center mt-3 border">
                <div class="card-body">
                    <a href="{% url 'recipe_detail' recipe.pk %}"
                        class="h5 card-title text-decoration-none">{{ recipe.recipe_name }}</a>
                    <br />
                    <hr />
                    <div class="row justify-content-around">
                        <a href="{% url 'edit_recipe' recipe.pk %}" class="w-50"><i
                                class="fa-regular fa-pen-to-square text-dark h4"></i>
                        </a>
                        <form class="w-50" action="{% url 'delete_recipe' recipe.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" value="{{recipe.pk}}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row d-flex justify-content-around mb-3">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% else %}

<div class="col-8 col-xl-6 mx-auto">
    <div class="text-center bg-warning pb-3">
        <h1 class="mt-3">It seems like you don't have access to this page with this user...</h1>
        <h4 class="mt-3">Please sign in with the correct one</h4>
        <a href="{% url 'account_login' %}" class="btn bg-success">Go back</a>
    </div>
</div>

{% endif %}

{% endblock %}